<%= form_for @flight do |f| %>
  <p>
    <%= f.label :airline %>
    <%= f.text_field :airline %>
  </p>
  <p>
    <%= f.label :destination %>
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.submit 'Update flight' %>
  </p>
<% end %>